# --- Python backend ---
# virtual environments
venv/
env/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# packaging
build/
dist/
*.egg-info/

# pip cache, logs
pip-log.txt
pip-delete-this-directory.txt

# Encrypted keys, secret files
*.key
*.pem

# --- Node / frontend ---
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# environment files
.env
.env.local
.env.*.local

# --- IDEs / editors ---
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific
.DS_Store
Thumbs.db

# miscellaneous
coverage/
*.tgz